<nav class="navbar navbar-expand-lg navbar-dark bg-danger mb-md-4">
  <a class="navbar-brand" href="#">{{ titulo }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="identidad">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/inicio']" [routerLinkActive]="['active']"><i class="fas fa-home"></i> Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-th-list"></i> Timeline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/usuarios']" [routerLinkActive]="['active']"><i class="fas fa-user"></i> Gente</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="identidad">
      <li class="avatar">
        <!-- Cargar imágen del usuario -->
        <img src="{{url + 'obtenerImagenUsuario/' + identidad.imagen}}" class="rounded-circle" alt="Avatar del usuario" *ngIf="identidad && identidad.imagen" width="40px">
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{identidad.nombres}} <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><i class="fas fa-user"></i> Mí perfíl</a>
          <a class="dropdown-item" [routerLink]="['/actualizarUsuario']"><i class="fas fa-cog"></i> Mis datos</a>
          <a class="dropdown-item" href="#" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!identidad">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/iniciarSesion']" [routerLinkActive]="['active']"><i class="fas fa-sign-in-alt"></i> Iniciar sesión <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/registrarse']" [routerLinkActive]="['active']"><i class="fas fa-user"></i> Registrarse</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

