<div class="col-md-8 offset-md-2">
  <div class="jumbotron">
    <h1 class="display-4">{{titulo}}</h1>
    <p class="lead">Disfruta de las publicaciones de tus amigos y comparte tu vida.</p>
    <hr class="my-4">
    <div class="d-flex justify-content-center">
      <a class="btn btn-success btn-lg mr-md-2" href="#" role="button">Mí perfíl</a>
      <a class="btn btn-primary btn-lg mr-md-2" href="#" role="button">Timeline</a>
      <a class="btn btn-light btn-lg" href="#" role="button">Gente</a>
    </div>
  </div>
</div>
